body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;

}

.stopwatch {
    text-align: center;
    width: 300px;
    color: white;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

.controls button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    
}

#laps {
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border-top: 1px solid #ccc;
}

#laps li {
    font-size: 16px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
